table,
th,
td {
    border: 2px solid black;
    border-collapse:collapse;
}
table {
    width:100%;
}
th{
    height: 70px;
}
#content1{
    text-align:center;
    height:450px;
    width:210px;
}
#content2{
    text-align:center;
    height:450px;
}
#content2 h4,p{
    margin:20px;
}
#footer{
    text-align:center;
    height:70px;
}